In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [15]:
df = sn.load_dataset("titanic")

In [16]:
df.isna().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked        True
class          False
who            False
adult_male     False
deck            True
embark_town     True
alive          False
alone          False
dtype: bool

In [17]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
df.shape

(891, 15)

In [19]:
df.dropna(how= "any").shape

(182, 15)

In [20]:
df.dropna(how= "any", axis = 1).shape

(891, 11)

In [36]:
df.dropna(thresh= 0.7*len(df), axis = 1, inplace= True)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [43]:
df.embark_town.fillna(value = "Queenstown", inplace= True)
df.embarked.fillna(value = "Q", inplace= True)

In [44]:
df.embark_town.isna().any()

False

In [45]:
df.embarked.isna().any()

False

In [46]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [48]:
df.age.fillna(value = df.age.mean(), inplace= True)