In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
df = sn.load_dataset('iris')

In [3]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
df.petal_length.mean()

3.7580000000000027

In [19]:
df.petal_length.median()

4.35

In [20]:
df.petal_length.mode()

0    1.4
1    1.5
dtype: float64

In [21]:
df.petal_length.max()

6.9

In [22]:
df.petal_length.min()

1.0

In [23]:
df.petal_length.std()

1.7652982332594667

In [24]:
df.petal_length.var()

3.1162778523489942

In [25]:
df.petal_length.sem()

0.144135997177411

In [26]:
df.petal_length.quantile(0)

1.0

In [27]:
df.petal_length.cummax()

0      1.4
1      1.4
2      1.4
3      1.5
4      1.5
      ...
145    6.9
146    6.9
147    6.9
148    6.9
149    6.9
Name: petal_length, Length: 150, dtype: float64

In [28]:
df.petal_length.cummin()

0      1.4
1      1.4
2      1.3
3      1.3
4      1.3
      ...
145    1.0
146    1.0
147    1.0
148    1.0
149    1.0
Name: petal_length, Length: 150, dtype: float64

In [29]:
df.petal_length.cumsum()

0        1.4
1        2.8
2        4.1
3        5.6
4        7.0
       ...
145    543.0
146    548.0
147    553.2
148    558.6
149    563.7
Name: petal_length, Length: 150, dtype: float64

In [30]:
df.petal_length.cumprod()

0      1.400000e+00
1      1.960000e+00
2      2.548000e+00
3      3.822000e+00
4      5.350800e+00
           ...
145    4.919916e+73
146    2.459958e+74
147    1.279178e+75
148    6.907562e+75
149    3.522857e+76
Name: petal_length, Length: 150, dtype: float64